<div class="card mx-5 mt-2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
       <div>

        <p class="card-text">

          <span class="fw-bold mr-2">{{ index+1 }}: </span>
          {{ todo.description }}
       </p>
       </div>
      <div>
        <a (click)="sendId(todo.id)" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i></a>
        <a href="#" class="btn btn-success btn-sm mx-1"><i class="fas fa-edit"></i></a>
      </div>
    </div>
  </div>
</div>
